<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PAYPAL PAYMENT</title>
  </head>
  <body>
    <h1>PAYMENT API</h1>
    <h3>Buy sample Item for $25.00</h3>
    <form class="" action="/pay" method="post">
      <h4>Amount</h4>
      <input type="number" name="amount" value="">
      <br><br>
      <input type="submit" name="" value="Buy">
    </form>
  </body>
</html>
